:root {
  --gray: rgb(201, 201, 201);
  --orange: rgb(255, 173, 31);
  --orangeactive: rgb(255, 202, 110);
  --shadow: 0.2px 0.2px 40px rgb(217, 217, 217);
  --price: 2rem;
  --height: 23rem;
}

body {
  display: flex;
  font-family: "Roboto";
}

main {
  margin-top: 2rem;
  margin-right: 1rem;
}

.bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.text > button {
  border: none;
  padding: 0.8rem;
  border-radius: 14px;
  transition: 0.3s;
}

.text > button:hover {
  cursor: pointer;
}

.text > button:active {
  background-color: var(--gray);
}

div.search > input {
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  border: none;
  background-color: var(--gray);
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 2.4rem;
}

div.search {
  display: flex;
  justify-content: end;
  background-color: rgb(201, 201, 201);
  border-radius: 15px;
  padding-left: 10px;
}

.burger_text::before {
  content: "> ";
  padding-right: 10px;
}

div.text {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  width: 2.5rem;
  height: auto;
}

.menu_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products > .product > img {
  width: 16rem;
}

div.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 20px;
  justify-content: flex-end;
  border-radius: 40px;
  box-shadow: var(--shadow);
  height: var(--height);
}

div.product > img {
  align-self: center;
}

div.product > div.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.products > div.product > div.details > h2.price {
  color: rgb(255, 173, 31);
  font-size: var(--price);
}

@media screen and (max-width: 1185px) {
  div.products {
    margin: 1rem;
  }
}

@media screen and (max-width: 1515px) {
  div.products {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1740px) {
  div.products {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1564px) {
  div.products {
    justify-content: space-evenly;
    margin: 0;
  }
  div.product {
    width: 20rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    width: 30rem;
  }
  div.product {
    width: 15rem;
  }
  .bar > .text > a {
    display: none;
  }
}
