nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  margin-left: 1.5rem;
  border-right: 1px solid rgb(201, 201, 201);
  padding-right: 2rem;
  position: sticky;
  top: 0;
}

div.logo {
  display: flex;
  margin: 1.5rem 0;
  margin-left: 1rem;
  gap: 1rem;
}

div.title {
  display: flex;
}

div.logo1 > div.logo img {
  width: 30px;
  height: auto;
  background-color: rgb(201, 201, 201);
  padding: 0.3rem;
  border-radius: 0.6rem;
}

div.logo > h2 {
  font-weight: bold;
  font-size: 20px;
}

h2.title2 {
  color: rgb(255, 50, 50);
}

nav > .logo {
  display: flex;
  align-items: center;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0;
  padding-left: 0.7rem;
  border-radius: 10px;
  transition: 0.3s;
}

.menu > ul > li:hover {
  background-color: rgb(255, 173, 31);
  cursor: pointer;
}

.menu > ul > li:active {
  background-color: rgb(255, 202, 110);
}

ul.list2 > li > span {
  background-color: rgb(255, 173, 31);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 3rem;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

div.user > img {
  border-radius: 7rem;
  width: 25%;
  height: auto;
}

h5 {
  color: rgb(201, 201, 201);
}

h5.other {
  margin-bottom: -30px;
  margin-top: -20px;
}

div.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: -60px;
}

div.user {
  display: flex;
  margin-top: 6rem;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 6px;
  box-shadow: 0.2px 0.2px 40px rgb(217, 217, 217);
}

div.user > a {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

div.user > button {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.7rem;
  transition: 0.3s;
}

div.user > button:hover {
  cursor: pointer;
}

div.user > button:active {
  background-color: gray;
}

nav > .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
