nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  margin-left: 1.5rem;
  border-right: 1px solid rgb(201, 201, 201);
  padding-right: 2rem;
  position: sticky;
  top: 0;
}

div.logo {
  display: flex;
  margin: 1.5rem 0;
  margin-left: 1rem;
  gap: 1rem;
}

div.title {
  display: flex;
}

div.logo1 > div.logo img {
  width: 30px;
  height: auto;
  background-color: rgb(201, 201, 201);
  padding: 0.3rem;
  border-radius: 0.6rem;
}

div.logo > h2 {
  font-weight: bold;
  font-size: 20px;
}

h2.title2 {
  color: rgb(255, 50, 50);
}

nav > .logo {
  display: flex;
  align-items: center;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0;
  padding-left: 0.7rem;
  border-radius: 10px;
  transition: 0.3s;
}

.menu > ul > li:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.menu > ul > li:active {
  background-color: var(--orangeactive);
}

ul.list2 > li > span {
  background-color: var(--orange);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 3rem;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

div.user > img {
  border-radius: 7rem;
  width: 25%;
  height: auto;
}

h5 {
  color: var(--gray);
}

h5.other {
  margin-bottom: -30px;
  margin-top: -20px;
}

div.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: -60px;
}

div.user {
  display: flex;
  margin-top: 6rem;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 6px;
  box-shadow: var(--shadow);
  transition: 0.3s;
}

div.user > a {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

div.user > button {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1.7rem;
  transition: 0.3s;
}

div.user > button:hover {
  cursor: pointer;
}

div.user > button:active {
  background-color: gray;
}

nav > .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1185px) {
  ul.list2 > li > span {
    margin-left: 1rem;
  }
  div.img {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  ul.list2 > li > span {
    display: none;
  }
  div.user > img {
    display: none;
  }
  div.user > button {
    display: none;
  }
  div.user:hover {
    background-color: gray;
  }
}

@media screen and (max-width: 700px) {
  nav {
    width: 10rem;
  }
  div.menu > ul.list1 > li > a,
  div.menu > ul.list2 > li > a {
    display: none;
  }
  div.menu > ul.list1 > li > img,
  div.menu > ul.list2 > li > img {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  div.menu > ul.list1,
  div.menu > ul.list2 {
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  div.menu > ul.list1 > li > img,
  div.menu > ul.list2 > li > img {
    width: 3rem;
  }
}

@media screen and (max-width: 500px) {
  div.menu > ul.list1 > li > img,
  div.menu > ul.list2 > li > img {
    width: 3rem;
  }
}
